* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}
/* 
  .card {
    background-color: white;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .image img {
    width: 150px;
    height: auto;
    border-radius: 8px;
  }
  
  .content {
    flex: 1;
  }
  
  .content h2 {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .content p {
    
  } */

.card {
  background-color: #f4f4f4;
  width: 1000px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  gap: 20px;
}

.image img {
  width: 150px;
  height: auto;
  border-radius: 15px;
}

.content {
  flex: 1;
}

.content h1 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
}

.content p {
  color: #555;
  margin: 10px 0 15px;
  line-height: 1.6;
}

.btn,
.btn2 {
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1rem;
  margin-right: 10px;
}

.btn {
  background-color: blue;
  color: #fff;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn2 {
  background-color: transparent;
  color: blue;
  border: 1.5px solid blue;
  cursor: pointer;
}

#right-side-profile {
  margin-top: 20px;
  flex: 0.5;
}

.bio-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bio-label {
  font-weight: bold;
  color: #333;
}

.bio-info {
  color: #555;
}
